@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional: smooth transition when toggling */
html {
  transition:
    background-color 0.3s,
    color 0.3s;
}

@keyframes fadeInOut {
  0%,
  100% {
    opacity: 0;
    transform: translateY(-10px);
  }
  10%,
  90% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-out {
  animation: fadeInOut 3s ease-in-out forwards;
}
